npm install express
# implementing validation in nodeJS app
npm install --save express-validator
npm install --save-dev @types/express-validator
# install mongoose to connect to mongoDB
npm install mongoose

# install multer for handling multipart/form-data, which is primarily used for uploading files
npm install --save multer
npm install --save-dev @types/multer


# install bcryptjs for hashing passwords
npm install --save bcryptjs @types/bcryptjs

# install jsonwebtoken for creating and verifying tokens for authentication
npm install --save jsonwebtoken @types/jsonwebtoken

# install socket.io for real-time, bidirectional and event-based communication
npm install socket.io
npm install socket.io-client

# install @types/socket.io and @types/socket.io-client for typescript support
npm install --save-dev @types/socket.io
npm install --save-dev @types/socket.io-client

#for .env file 
npm install dotenv
